header {

    padding: 20px; /* Adiciona espaço interno ao bloco */
    margin: 0 auto; /* Centraliza o bloco horizontalmente */
    width: 80%; /* Define a largura do bloco */
    background-color: #e5b8f7; /* Cor de fundo do bloco */
    border: 5px solid #000000; /* Adiciona uma borda ao redor do bloco */
    border-radius: 25px;
    margin-top: 50px;
   
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-position: inside;
    font-family: 'Times New Roman', Times, serif;
}


h3 {
  margin: 0; /* Remove a margem padrão */
}

ul {
  display: inline; /* Torna a lista um elemento em linha */
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: 20px; /* Adiciona espaço entre o título e a lista */
}

li {
  display: inline; /* Torna os itens da lista elementos em linha */
  margin-right: 10px; /* Adiciona espaço entre os itens da lista */
}


  .img {
    max-width: 600px;
    min-height: 200px
  }

.img1 {
  position: absolute;
  max-width: 891px;
  min-height: 30px
}

  .apresentacao {
    color: white;
    background-color: #0019fd;
    position: absolute;
    top: 400px ; /* Posiciona o texto no topo */
    left: 1000px; /* Posiciona o texto à direita */
    padding: 10px; /* Espaçamento interno do texto */
    border: 5px solid #000;
    border-radius: 20%;
}

.borda {
 text-align: center;
 background-color: white;
 padding: 10%;
 border-radius: 20%;
}

/*.agende {
  text-align: center;
  background-color: #919cff;
  height: 120px;
  border-radius: 30%;
}/*